*{
  --base-color-1: rgb(1, 145, 145);
  --base-color-2: rgb(0, 71, 71);

  --details-color-1: rgba(255,255,255,.3);
  --details-color-2: rgb(255, 255, 255);
  --details-open: rgba(32, 32, 32, 0.895);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body{
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(var(--base-color-1), var(--base-color-2));
}
.container{
  max-width: 500px;
  margin: auto;
}
details{
  text-align: center;
  background-color: var(--details-color-1);
  margin-bottom: 3px;
  border-radius: 10px;
}
details summary{
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 900;
}
details[open]{
  background-color: var(--details-open);
  color: var(--details-color-2);
}
details[open] summary{
  border-bottom: 2px dotted var(--details-color-2);
}
details p{
  padding: 0px 0px 3px 10px;
  text-align: justify;
}
details p:first-of-type {
  margin-top: 10px;
}
details p:last-of-type {
  padding-bottom: 10px;
}
details img{
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  max-width: 100%;
  min-height: 30%;
}