*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body{
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(#DFC860, #6B5E27);
}
.container{
  max-width: 500px;
  margin: auto;
}
details{
  text-align: center;
  background-color: rgba(255,255,255,.3);
  margin-bottom: 3px;
  border-radius: 10px;
}
details[open]{
  background-color: rgba(255,255,255,.8);
}
details summary{
  padding: 10px;
}
details[open] summary{
  border-bottom: 1px dashed #1c1704;
}
details p{
  padding: 10px;
  text-align: justify;
  margin-top: 10px;
}
details img{
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  width: 100%;
}